<div class="row justify-content-center margen">
  <div class="col-md-10">
    <h4 class="mb-3">Lista de productos</h4>
    <button type="button" class="btn btn-primary btn-sm" (click)="createProduct()">
      <i class="fas fa-plus"></i>
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto Producto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>₡{{item.cost}}</td>
          <td>
             <input type="image" src="{{item.url_picture}}" id="ImagenProducto" style="height:75px;width:75px">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="updateProduct(item.id)">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


