<div class="row justify-content-center margen">
  <div class="col-md-10">
    <h4 class="mb-3">Lista de productos</h4>
    <button type="button" class="btn btn-primary btn-sm" (click)="createProduct()">
      <i class="fas fa-plus"></i>
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto Producto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <ng-template #loading>
        <img class="img-fluid rounded mx-auto d-block" src="/assets/images/loading.gif" alt="Cargando..."
          style="width: 300px;" />
      </ng-template>
      <ng-template [ngIf]="datos" [ngIfElse]="loading"></ng-template>
      <tbody>
        <tr *ngFor="let item of datos">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>₡{{item.cost}}</td>
          <td>
             <input type="image" src="{{item.url_picture}}" id="ImagenProducto" style="height:75px;width:75px">
          </td>
          <td>

            <div class="btn-group-vertical">
              <button type="button" class="btn btn-success btn-sm" (click)="updateProduct(item.id)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" (click)="showProduct(item.id)">
              <i class="fas fa-info"></i>
            </button>
            <button class="btn btn-warning" (click)="agregarProducto(item.id)"><i class="fas fa-cart-plus"></i></button>
          </div>


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


