<div class="jumbotron">
  <h1 class="display-4 text-primary"><b>Gracias por preferir Josast-Online!</b></h1>
  <hr class="my-4">
  <h3>Somos una empresa familiar fundada en Octubre del 2020, nuestro empresa es lider de ventas en linea en Costa Rica. Ofrecemos gran variedad de productos, nosotros garantizamos que estos productos lleguen de una manera rapida y eficaz a la puerta de su hogar con un simple click.</h3>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Regresar a la pagina</a>
  </p>
</div>
